In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 

def load_data():
    # Assumes 'data.csv' is placed in the same folder
    df = pd.read_excel("data/objectives_db.xlsx", parse_dates=["date"])
    
    # Convert timing from "MM:SS" format to seconds
    def convert_time_to_seconds(time_str):
        if pd.isna(time_str):
            return np.nan
        try:
            minutes, seconds = map(int, time_str.split(':'))
            return minutes * 60 + seconds
        except (ValueError, AttributeError):
            return np.nan
    
    df["timing"] = df["timing"].apply(convert_time_to_seconds)
    return df

df = load_data()

In [16]:
df

,date,Blue,Red,objective,drake_type,fought,taken,timing,blue_top,blue_jungle,blue_mid,blue_AD,blue_sup,red_top,red_jungle,red_mid,red_AD,red_sup
0,2025-03-09,ES,PCS,grubs_1,NaN,ES,ES,370,NaN,X,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-03-09,ES,PCS,drake_1,ocean,Both,ES,390,X,X,X,NaN,X,NaN,X,X,X,X
2,2025-03-09,ES,PCS,grubs_2,NaN,ES,ES,620,NaN,X,NaN,X,X,NaN,NaN,NaN,NaN,NaN
3,2025-03-09,ES,PCS,drake_2,hextech,PCS,PCS,620,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN
4,2025-03-09,ES,PCS,herald,NaN,ES,ES,995,NaN,X,NaN,X,X,NaN,NaN,NaN,NaN,NaN
5,2025-03-09,ES,PCS,drake_3,cloud,ES,ES,1120,NaN,X,NaN,X,X,NaN,NaN,NaN,NaN,NaN
6,2025-03-09,ES,PCS,atakhan,NaN,Both,ES,1270,X,X,X,X,X,X,X,X,X,X
7,2025-03-09,ES,PCS,drake_4,cloud,ES,ES,1430,X,X,X,X,X,NaN,NaN,NaN,NaN,NaN
8,2025-03-09,ES,PCS,nashor,NaN,PCS,PCS,1540,NaN,NaN,NaN,NaN,NaN,X,X,X,X,X
9,2025-03-09,ES,PCS,drake_5,cloud,Both,PCS,1780,X,X,X,X,X,X,X,NaN,X,X
10,2025-03-09,ES,PCS,nashor,NaN,ES,ES,1970,X,X,NaN,X,X,NaN,NaN,NaN,NaN,NaN
11,2025-03-09,ES,PCS,drake_6,cloud,PCS,PCS,2090,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN
12,2025-03-09,ES,PCS,nashor,NaN,Both,ES,2350,X,X,NaN,X,X,NaN,X,X,X,NaN